body {
	background-color: red;
	background: url(../assets/bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Poiret One', cursive;
	color: #fff;	
}
p {
	color: #fff;	
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
}
.brand {
	color: #FC645F;
	font-weight: 900;
}
body,
html {
	height: 100%;
}
body {
	overflow-x: hidden;
}
.container-fluid {
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.container-fluid > div {
	height: 100%;
}
.container {
	height: 100%;
}
.container > div {
	height: 100%;
}
.form-control {
	outline: none;
	height: 48px;
	padding: 10px 15px;
	border-radius: 0px;
}

/*Buttons start*/
.btn--default {
	background-color: transparent;
	border-radius: 0px;
	width: auto;
	padding: 10px 35px;
	font-size: 20px;
	font-weight: 900;
	color: #FC645F;
	border: 2px solid #FC645F;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn--default:hover {
	background-color: #FC645F;
	color: #fff;
}
/*Buttons end*/

/*Login view start*/
.login-view {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.login-view .btn--default {
	width: 100%;
}
.login-view-title {
	text-align: left;
	font-size: 70px;
	padding: 50px 0;
}
/*Login view end*/
/*Profile view start*/
.profile-view {
	height: 100%;
	/*background-color: rgba(255,255,255, 0.8);*/
	color: #333;

}
.profile-view p {
	color: #333;	
}
/*Profile view end*/

/*Header start*/
.header {
	background-color: #fff;
	height: 70px;
	    border-bottom: 1px solid #dee0df;
	height: 85px !important;
}
.header > .container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.header .container .left,
.header .container .right
{
	width: 50%;
	line-height: 85px;
}
.header .container .right {
	text-align: right;
}
.header .container .left p {
	font-size: 35px;
    line-height: 79px;
	font-weight: 800;
}
/*Header end*/
/*Profile start*/
.profile-info {
	padding: 20px;
	margin: 60px 0 50px 0;	
	    border: 1px solid #dee0df;
	background-color: #fff;
	position: relative;

}
.profile-info img {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -40px;
	right: 50%;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-right: -40px;
}
.personal-details {
	margin-top: 20px;
	padding: 10px;
}
i {
	font-size: 20px;
	color: #333;
	margin-right: 10px;
}
/*Profile end*/
/*Upload start*/
.upload-container{
	padding: 20px;
	margin: 60px 0 35px 0;
	border: 1px solid #dee0df;
	background-color: #fff;
	position: relative;
}
/*Upload end*/
/*Images start*/
.images-container{
	margin: 0 0 50px 0;
	position: relative;
}
.image {
	border-bottom: 1px solid #dee0df;
	background-color: #fff;
	margin-bottom: 20px;
}
.image:last-of-type {
	border-bottom: none;
}
.image img {
	max-width: 100%;
	height: auto;
}
.image-details {
	/*text-align: right;*/
	padding: 10px 15px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}
.image .image-icon {
	text-align: right;
	padding: 10px 15px 0 0;

}
.image-details-left,
.image-details-right {
	background-color: #fff;
	width: 50%;
}
.image-details-left button {
	padding: 0 5px;
	margin-top: -2px;
}
.image-details-left select {
	min-width: 100px;
	min-height: 31px;
	border: 2px solid #FC645F;
	outline: none;	
    font-weight: 900;
}
.image-details-right {
	text-align: right;
	font-weight: 900;
	width: 100%;
}

/*Images end*/
/*Comments start*/
.comment-details {
	text-align: right;
	font-style: italic;
	font-size: 14px;
}
.image-comment {
	background-color: #fafafa;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	border-bottom: 1px solid #efefef;
}
.image-comment-left {
	width: 10%;
}
.image-comment-left img {
	border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #efefef;
    margin: 10px auto;
    display: block;
}
.image-comment-left span {
	font-size: 40px;
}

.image-comment-right {
	padding: 10px 20px 0 10px;
	width: 90%;
}

.post-comment input {
	outline: none;
	border: 1px solid #333;
	margin: 2% 2% -2% 2%;
	width: 96%;
	height: 47px;
	padding: 10px;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}
.post-comment button {
	margin: 0% 2% 2% 2%;
    width: 96%;
    background-color: #fafafa;
}
.glyphicon .glyphicon-comment {
	font-size: 18px;
	margin-left: 7px;
}
/*Comments end*/

/*.inputfile {
	width: 95px;
	height: 42px;
	background-color: red;
	cursor: pointer;
	margin-right: 7px;
}
.inputfile-2 + label {
    color: #FC645F;
    border: 2px solid black;
    width: 89px;
    height: 32px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile-2 + label {
    color: #FC645F;
    border: 2px solid #FC645F;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}*/

#upload {
	padding: 5px 15px;
}

#upload-form {
	display: flex;
}

#upload-form label {
	max-width: 80%;
	font-size: 1.75rem;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	color: #FC645F;
	border: 2px solid #FC645F;
	height: 43px;
	
}
#upload-form input {
	width: 112px;
	height: 42px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	cursor: pointer;

}

#upload-form .btn {
	padding: 6px 15px;
	height: 43px;
	margin-left: 8px;
}
/*Signup Start*/
.form-signup {
	/*opacity: 0.2;*/
	display: flex;
	text-align: right;
	float: right;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/*.form-signup.visible {
	opacity: 1;

}*/
.form-signup input {
	width: 200px;
	padding: 5px;
    margin-right: 5px;
    color: #333;
    font-weight: 900;
    font-size: 18px;
}
.form-signup .btn {
	opacity: 1;
	width: 100px;
	padding: 5px;
}

/*Signup End*/

.form-signin .form-group input {
	color: #333;
	font-weight: 900;
	font-size: 18px;
}