<div class="container-fluid profile-view">
	<div class="header">
		<div class="container">
			<div class="left"><p><span class="brand">Fake</span>stagram</p></div>
			<div class="right"><span class="glyphicon glyphicon-log-out" aria-hidden="true" ng-click="profile.logout()"></span></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="wrapper">
					<div class="upload-container">
				
						<form enctype="multipart/form-data" id="upload-form">
						<input type="file" class="inputfile inputfile-2" name="file"  file-model="profile.myFile" />
						<label for="file"><span>Choose file</span></label>
						<button class="btn btn--default" ng-click="profile.uploadPic()" id="upload">Upload fakestagram</button>
						</form>
					</div>
					<div class="images-container">					
						<div class="image" ng-repeat="pic in profile.pictures | orderBy:'-timestamp'" ng-if="pic.path">
							<p class="image-icon"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></p> 
							<img ng-src="{{pic.path}}" alt="">
					
							<div class="image-details">
								<div class="image-details-left" ng-if="pic.author == profile.userId">
									<button class="btn btn--default" ng-click="profile.shareWith(pic.mySharer, pic.imageid)">Share with</button>
									<select class="cs-select cs-skin-border" ng-model="pic.mySharer">
									    <option ng-repeat="user in profile.users" value="{{::user.accountid}}">{{user.username}}</option>								        
									</select>
								</div>
								<div class="image-details-right">
									<span class="glyphicon glyphicon-comment" ng-click="pic.showComments = !pic.showComments"></span>
									<span class="timestamp">{{::pic.timestamp}}</span>, 
									<span class="author">By {{::pic.username}}</span>	
								</div>
							</div>
							<div class="image-comments" ng-if="pic.showComments">
								<div class="post-comment">
									<div class="form-group group">
									<input type="text" ng-model="profile.commBody">
									</div>
									<button class="btn btn--default" ng-click="profile.addComment(profile.commBody, pic.imageid)">Comment</button>								
								</div>
								<div class="image-comment" ng-repeat="comm in pic.imageComments  | orderBy:'-timestamp'">
									<div class="image-comment-left">
										<img src="assets/profile.png" alt="">
									</div>
									<div class="image-comment-right">
										<p class="body">{{comm.body}}</p>
										<p class="comment-details">
											<span class="timestamp">{{comm.timestamp}}</span>, 
											<span class="author">By {{comm.username}}</span>
										</p>
									</div>									
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div> <!-- END col-md-8 -->
			<div class="col-md-4">
			    <div class="profile-info">
			      <img src="assets/profile.png" alt="">
			      <div class="personal-details">
			        <p class="name"><i class="fa fa-user"></i>"Picture your life as you wish on Fakestagram!"</p>
			        </div>
			      </div>                      
			    </div>
			</div> <!-- END col-md-4 -->
		</div>
	</div>
</div>