body {
	background-color: #efefef;
	background: url(../assets/bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Poiret One', cursive;
	color: #fff;	
}
p {
	color: #fff;	
	font-size: 20px;
	font-weight: 900;
}
body,
html {
	height: 100%;
}
.container-fluid {
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.container-fluid > div {
	height: 100%;
}
.container {
	height: 100%;
}
.container > div {
	height: 100%;
}
.form-control {
	outline: none;
	height: 48px;
	padding: 10px 15px;
	border-radius: 0px;
}

/*Buttons start*/
.btn--default {
	background-color: transparent;
	border-radius: 0px;
	width: auto;
	padding: 10px 35px;
	font-size: 20px;
	font-weight: 900;
	color: #FC645F;
	border: 2px solid #FC645F;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn--default:hover {
	background-color: #FC645F;
	color: #fff;
}
/*Buttons end*/

/*Login view start*/
.login-view {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
.login-view .btn--default {
	width: 100%;
}
.login-view-title {
	text-align: center;
	font-size: 70px;
	padding: 50px 0;
}
/*Login view end*/
/*Profile view start*/
.profile-view {
	height: 100%;
	background-color: rgba(255,255,255, 0.8);
	color: #333;

}
.profile-view p {
	color: #333;	
}
/*Profile view end*/

/*Header start*/
.header {
	background-color: #fff;
	height: 70px;
	    border-bottom: 1px solid #dee0df;
	height: 85px !important;
}
.header > .container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.header .container .left,
.header .container .right
{
	width: 50%;
	line-height: 85px;
}
.header .container .right {
	text-align: right;
}
.header .container .left p {
	font-size: 35px;
	font-weight: 800;
}
/*Header end*/
/*Profile start*/
.profile-info {
	padding: 20px;
	margin: 60px 0 50px 0;	
	    border: 1px solid #dee0df;
	background-color: #fff;
	position: relative;

}
.profile-info img {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -40px;
	right: 50%;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-right: -40px;
}
.personal-details {
	margin-top: 20px;
	padding: 10px;
}
i {
	font-size: 20px;
	color: #333;
	margin-right: 10px;
}
/*Profile end*/
/*Upload start*/
.upload-container{
	padding: 20px;
	margin: 60px 0 50px 0;
	    border: 1px solid #dee0df;
	background-color: #fff;
	position: relative;
}
/*Upload end*/